body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
  justify-content: center;
  background: url(../img/155771.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  font-family: "harrypotter";
  background-attachment: fixed;
}


@font-face {
  font-family: harrypotter;
  src: url(../font/HARRYP__.TTF);
}

h1{
  font-size: 100px;
  color:#F2C805;
}

.biglietto{
  min-height: 400px;
  background-color: #EEE6D9;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 0 30px #000;
  display:flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2rem;
}

.rip{
  width:30%;
  border-right: 2px solid black;
}

.ticket-glob{
  width:60%;
}

span{
  font-family: sans-serif;
  color:#2B232B;
  font-size: 20px;
  width: 70%;
  display:block;
}
