body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  background: url(../img/155771.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  background-attachment: fixed;
  color :white;
}

.debug{
  border: 1px solid black;
}


@font-face {
  font-family: harrypotter;
  src: url(../font/HARRYP__.TTF);
}

h1{
  font-size: 100px;
  color:#F2C805;
  font-family: "harrypotter";
}

.shadow{
  box-shadow: 0 0 30px #000;
}

.validation{
  height: 100%;
}

.dashed{
  border-right : 1px dashed black
}

.col-8.d-flex.flex-column span{
  margin-bottom: 20px;
}

.img{
  border : 10px double black;
  height: 100%;
}

.img img{
  width:100%;
}

.my_blur{
   text-shadow: 0 0 5px white;
   color: transparent
}
